<header class="xs-header">
    <a class="xs-header-back" goback="#/order" ng-if="false"><span></span>返回</a>

    <div class="xs-header-title flex">
        <span class="header-rst-name">订单列表</span>
    </div>
</header>
<div class="ui-center-container" ng-if="!hasRecord">
    <h2 class="ui-center-block-title">
        还未下过单
    </h2>

    <p class="ui-center-block-desc">
        快去体验一下吧
    </p>
</div>
<div ng-if="hasRecord" class="trade-order-content">
    <a class="trade-order" ng-repeat="order in orders" ng-href="#/detail/{{order.orderId}}">
        <div class="torder-status">
            <span ng-bind="order.status_title"></span>
            <span class="torder-time" ng-bind="(order.createTime||0)|date:'yyyy-MM-dd HH:mm'"></span>
        </div>
        <div class="torder-summary">
            <div class="torder-detail">
                <div class="torder-misc">
                    <p class="torder-distribution">取餐点：<span ng-bind="order.distribution"></span></p>

                    <p class="total-cost">
                        <span ng-bind="foodQuantity(order)"></span>份&nbsp;&nbsp;
                        <span class="ui-rmb" ng-bind="order.totalPrice"></span>
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>