<!-- <header class="xs-header">
    <a class="xs-header-back" goback="#/order" ng-if="false"><span></span>返回</a>

    <div class="xs-header-title flex">
        <span class="header-rst-name">订单列表</span>
    </div>
</header> -->
<div class="trad-order-body">
    <!-- <div class="ui-center-container" ng-if="!hasRecord">
        <h2 class="ui-center-block-title" style="text-align:center;margin-top:10px;">
            您还未下过单
        </h2>

        <p class="ui-center-block-desc" style="text-align:center">
            快去体验一下吧
        </p>
    </div> -->
    <div class="trade-order-content">
        <section class="trade-order-button-section" skate-shoes="dishType">
           <button class="trade-order-button button-left" ng-class="{ 'order-selectedOrderType':selectOrderType }" ng-click="selectOrderType = !selectOrderType">当前订单</button><button class="trade-order-button button-right" ng-class="{ 'order-selectedOrderType':!selectOrderType }" ng-click="selectOrderType = !selectOrderType">历史订单</button>
        </section>
        
        <section ng-if="selectOrderType">
            <ul class="trade-orders-content-ul">
                
                <!-- <a class="trade-order" ng-repeat="order in currentOrders" ng-href="#/detail/{{order.orderId}}">
                    <div class="torder-status">
                        <span ng-bind="order.status_title"></span>
                        <span class="torder-time" ng-bind="(order.createTime||0)|date:'yyyy-MM-dd HH:mm'"></span>
                    </div>
                    <div class="torder-summary">
                        <div class="torder-detail">
                            <div class="torder-misc">
                                <p class="torder-distribution">取餐点：<span ng-bind="order.distribution"></span></p>
                
                                <p class="total-cost">
                                    <span ng-bind="foodQuantity(order)"></span>份&nbsp;&nbsp;
                                    <span class="ui-rmb" ng-bind="order.totalPrice"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </a> -->

                <li class="order-list-li" ng-repeat="order in currentOrders">
                    <div style="">
                        取餐号: <span ng-bind="order.takeNo" style="color:#000;"></span>
                        <span ng-bind="order.status_title" style="float:right;"></span>
                    </div>
                    <div style="border-top:1px solid #ccc;border-bottom:1px solid #ccc;">
                        <!-- <p class="torder-distribution">订单号: <span ng-bind="order.orderId"></span></p>
                        <p class="torder-distribution">订餐手机: <span ng-bind="order.tel"></span></p> -->
                        <p class="torder-distribution">菜品详情: <span ng-repeat="dish in order.dishesType">
                            <span ng-bind="dish.name"></span>*<span ng-bind="dish.count"></span>;
                        </span></p>
                        <p class="torder-distribution">取餐地址: <span ng-bind="order.distribution"></span></p>
                    </div>
                    <div>
                        <span class="torder-time" ng-bind="(order.createTime||0)|date:'yyyy-MM-dd HH:mm'"></span>
                        <!-- <span ng-bind="foodQuantity(order)" style="float:right"></span>份&nbsp;&nbsp; -->
                        <span ng-bind="order.orderTypeCN" style="float:right;color:#E74E43;"></span>
                        <span class="ui-rmb" ng-bind="order.totalPrice" style="float:right;margin-right:5px;"></span>&nbsp;&nbsp;
                    </div>
                </li>
            </ul>
            <div class="ui-center-container" ng-if="currentOrders.length <= 0">
                <h2 class="ui-center-block-title" style="text-align:center;margin-top:10px;">
                    您当前没有订单
                </h2>

                <p class="ui-center-block-desc" style="text-align:center">
                    快去体验一下吧
                </p>
            </div>
        </section>



        <section ng-if="!selectOrderType">
            <ul class="trade-orders-content-ul">
                <li class="order-list-li" ng-repeat="order in historyOrders">
                    <div style="">
                        取餐号: <span ng-bind="order.takeNo" style="color:#000;"></span>
                        <span ng-bind="order.status_title" style="float:right;"></span>
                    </div>
                    <div style="border-top:1px solid #ccc;border-bottom:1px solid #ccc;">
                        <!-- <p class="torder-distribution">订单号: <span ng-bind="order.orderId"></span></p>
                        <p class="torder-distribution">订餐手机: <span ng-bind="order.tel"></span></p> -->
                        <p class="torder-distribution">菜品详情: <span ng-repeat="dish in order.dishesType">
                            <span ng-bind="dish.name"></span>*<span ng-bind="dish.count"></span>;
                        </span></p>
                        <p class="torder-distribution">取餐地址: <span ng-bind="order.distribution"></span></p>
                    </div>
                    <div>
                        <span class="torder-time" ng-bind="(order.createTime||0)|date:'yyyy-MM-dd HH:mm'"></span>
                        <!-- <span ng-bind="foodQuantity(order)" style="float:right"></span>份&nbsp;&nbsp; -->
                        <span ng-bind="order.orderTypeCN" style="float:right;color:#E74E43;"></span>
                        <span class="ui-rmb" ng-bind="order.totalPrice" style="float:right;margin-right:5px;"></span>&nbsp;&nbsp;
                    </div>
                </li>
                <!-- <a class="trade-order" ng-repeat="order in historyOrders" ng-href="#/detail/{{order.orderId}}">
                    <div class="torder-status">
                        取餐号<span ng-bind="order.takeNo"></span>
                        订单号<span ng-bind="order.orerId"></span>
                        订餐手机<span ng-bind="order.tel"></span>
                        菜品详情<span ng-bind="order.dishesType.name"></span>
                        支付类型<span ng-bind="order.orderType"></span>
                        <span ng-bind="order.status_title"></span>
                        <span class="torder-time" ng-bind="(order.createTime||0)|date:'yyyy-MM-dd HH:mm'"></span>
                    </div>
                    <div class="torder-summary">
                        <div class="torder-detail">
                            <div class="torder-misc">
                                <p class="torder-distribution">取餐点：<span ng-bind="order.distribution"></span></p>
                
                                <p class="total-cost">
                                    <span ng-bind="foodQuantity(order)"></span>份&nbsp;&nbsp;
                                    <span class="ui-rmb" ng-bind="order.totalPrice"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </a> -->
            </ul>
            <div class="ui-center-container" ng-if="historyOrders.length <= 0">
                <h2 class="ui-center-block-title" style="text-align:center;margin-top:10px;">
                    您历史订单
                </h2>

                <p class="ui-center-block-desc" style="text-align:center">
                    快去体验一下吧
                </p>
            </div>
        </section>
        <div class="ui-center-container" ng-if="!hasRecord">
            <h2 class="ui-center-block-title" style="text-align:center;margin-top:10px;">
                您还未下过单
            </h2>

            <p class="ui-center-block-desc" style="text-align:center">
                快去体验一下吧
            </p>
        </div>
        
    </div>
</div>
