<header class="xs-header">
    <a class="xs-header-back" ng-href="#/order" ><span></span>返回</a>

    <div class="xs-header-title flex">
        <span class="header-rst-name">手机验证</span>
    </div>
</header>
<div class="ui-flashbar error" ng-show="error" ng-bind="error.message"></div>
<form class="logreg-form" name="regform" novalidate ng-submit="updateTel()">
    <div class="logreg-inputs">
        <div class="input-group"
             ng-class="{'ui_error': regform.mobile.$invalid &amp;&amp; regform.mobile.$dirty}">
            <input type="tel" class="ui-input" placeholder="" name="mobile" ng-model="user.mobile"
                   ng-pattern="/^1[3-9]\d{9}$/" required/>

            <p class="input-tip">
                <span ng-if="regform.mobile.$error.required">请填写手机号码</span>
                <span ng-if="regform.mobile.$error.pattern">手机号码格式非法</span>
            </p>
        </div>
        <div class="input-group input-group-msgcode">
            <div class="input-group-msgcode-inner">
                <input type="text" class="ui-input" name="code" ng-model="user.code" ng-pattern="/^\d{6}$/" required
                       placeholder="请输入验证码">
                <button class="ui-btn" type="button" ng-disabled="countdown || regform.mobile.$invalid"
                        ng-click="sendCode()" disabled="disabled">
                    <span ng-bind="countdown ? '重发验证码' : '发送验证码'">发送验证码</span>
                    <countdown class="ui-parenthese countdown_number ng-hide" time="60" ng-show="countdown"></countdown>
                </button>
            </div>
            <p class="input-tip">
                <span ng-if="regform.code.$error.required">请输入验证码</span>
                <span ng-if="regform.code.$error.pattern">验证码格式错误</span>
            </p>
        </div>
        <button type="submit" class="ui-btn logreg-btn" ng-disabled="regform.$invalid"
                disabled="disabled">绑定
        </button>
    </div>
</form>